<!doctype html>
<html lang="ru">
<head>
  {{> meta }}
  <title>Игры</title>
  {{> favicon }}
</head>
<body>
{{> layouts/header }}

  <div class="games-list">
    <a class="games-list__item" href="/games/2048.html">
      2048
    </a>
    
    <a class="games-list__item" href="">
      snake
    </a>
  </div>
</body>
</html>