html {
  font-size: 16px;
  box-sizing: border-box;
  overflow-y: auto;
  word-break: normal;
  tab-size: 4;
  font-family: Montserrat, sans-serif;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 0;
  margin: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
}

[disabled] {
  cursor: default;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}