<div class="container page-2048">
  <div class="d-flex flex-column align-items-center justify-content-center"
       style="gap: 16px">
    <div class="d-flex align-items-center" style="gap: 16px">
      <button class="game-2048__btn" id="game-2048-start">
        Start game
      </button>

      <div id="game-2048-score" class="h4 mb-0"></div>
    </div>

    <div id="game-2048-results">

    </div>
  </div>

  <div class="game-2048" id="game-2048">
    <div class="game-2048__inner"></div>

    <div class="game-2048__items"></div>
  </div>
</div>