@use "sass:math";

$border-radius: 4px;
$spacing: 10px;

@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}

@function randomHex() {
  @return '#' + math.floor(math.random() * 10) + '' + math.floor(math.random() * 10) + '' + math.floor(math.random() * 10) + '' + math.floor(math.random() * 10) + '' + math.floor(math.random() * 10) + '' + math.floor(math.random() * 10)
}

$colors: ('orange', 'grey', 'darkgrey', 'blue', 'red');

.page-2048 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.game-2048 {
  background: grey;
  position: relative;
  --animation-time: 200ms;

  &__inner {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $spacing;
    aspect-ratio: 1;
    padding: $spacing;
    border-radius: $border-radius;
  }
  
  &__btn {
    padding: 12px 24px;
    background: darkgrey;
    border-radius: 3px;
    font-size: 20px;
  }
  
  &__cube {
    width: 100px;
    height: 100px;
    border-radius: $border-radius;
    
    &-inner {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 34px;
    }

    @each $color in $colors {
      &--#{$color} {
        background-color: #{$color};
      }
    }

    @for $row from 0 to 20 {
      @for $col from 0 to 20 {
        &--p-#{$row}-#{$col} {
          transform: translateY(calc(#{$row} * 110px)) translateX(calc(#{$col} * 110px)) ;
        }
      }
    }

    &--new {
      animation-name: new-cube;
      animation-duration: var(--animation-time);
    }

    &--union {
      animation-name: union-cube;
      animation-duration: var(--animation-time);
    }

    $val: 0;  
    @while $val < 20 {
      &[data-value='#{pow(2, $val)}'] .game-2048__cube-inner {
        background-color: #{randomHex()};
      }
      $val: $val + 1;
    }
  }

  &__items {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: $spacing;

    & .game-2048__cube {
      position: absolute;
      top: 0;
      transition: transform var(--animation-time);
    }
  }
}

@keyframes new-cube {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes union-cube {
  0% {
    transform: scale(1);
  }
  
  50% {
    transform: scale(1.2);
  }
  
  100% {
    transform: scale(1);
  }
}